.header{
    background-color: #18cc00;  
}
.name {
  background-color: #18cc00;
  /* margin: 2px; */
  padding-left: 10px;
  color: #fff;
  line-height: 1.6;
}
.btn {
  color: #fff;
  background-color: #18cc00;
}
.btn:hover {
  box-shadow: 2px 2px 4px #ccc;
}
.img-fluid {
  border: #18cc00 solid 2px;
  /* box-shadow: 5px 5px 5px grey; */
}
.img-fluid:hover {
  animation: shake 0.5s;
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#results {
  margin-top: 50px;
}
